body {
    background-color:rgb(181, 213, 241) ;
}

#canvas {
    background-color: white;
    border: 2px solid black;
    align-items: center;
    display: flex;
}

.btn{
    background-color: aquamarine;
    border-radius: 10px;
}